<!DOCTYPE html>
<html>
<head>
  <title>Learn LTI</title>
  <%= stylesheet_link_tag    "learn_lti_engine/application", media: "all" %>
  <%= javascript_include_tag "learn_lti_engine/application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
</body>
</html>
