<h4>lti_version</h4>

<p>
  This indicates which version of the specification is being used for this particular message.  Since launches for
  version 1.1 are upwards compatible with 1.0 launches, this value is not advanced for LTI 1.1.
</p>

<p>
  Launch again and then enter the value sent to you for this parameter.
</p>

{{render "iframe_panel" model}}