<h4>lti_version</h4>
    <p>This is another freebie. <code>lti_version</code> should
    be sent on all LTI launches. Right now this value will
    always be <code>LTI-1p0</code>, but this may change in the
    near future.</p>
    <p>Launch again and then enter the value sent to you
    for this parameter.</p>
    
{{iframe-panel}}