<h4>oauth_timestamp</h4>

    <p><code>oauth_timestamp</code> is a unix timestamp (seconds since Jan 1, 1970 GMT)
    used along with the nonce to prevent replay attacks. The time window isn't
    explicitly defined, but you should make sure that timestamps aren't too
    old for app launches.</p>