<h4>oauth_signature</h4>

    <p><code>oauth_signature</code> is a value that's generated based on all the other
    parameters sent across with the launch. I'm not going to check your ability
    to verify signatures at this point, I just want to make sure you know
    how to check for them. We'll get to signature verification later on.</p>
    
    http://tools.ietf.org/html/rfc5849#section-3.4