<h4>resource_link_id</h4>
<p>
  Moving along! The next parameter we're going to look at it
  <code>resource_link_id</code>. This is the unique identifier representing the
  "placement" of your app in the LMS. If a teacher adds your app multiple times
  in the same course, each spot will have its own link id. Every time your app
  is launched from that spot, regardless of who launched it, you will receive
  the same link id.
</p>
<p>
  <strong>This should not be considered a human-readable value</strong>, it will
  often be a hash value.
</p>
<p>Something about typical use cases.</p>
<p>Now launch again and enter the value sent for this parameter.</p>

{{render "iframe_panel" model}}