<h4>user_id</h4>

    <p><code>user_id</code> is a unique identifier representing the user
    who just launched your app. This id will be the same for the same user
    across courses or groups, but not across platforms or systems.</p>
    <p><b>This should not be considered a human-readable value</b>, it
    will often be a hash value. If you're looking for the user's id within
    Canvas for API calls, look for <code>custom_canvas_user_id</code>.</p>

{{render "iframe_panel" model}}