<h4>context_id</h4>

    <p><code>context_id</code> is a unique identifier for the course, group
    or other setting from which your app was launched. It will be consistent
    regardless of who launches your app or from which placement within the
    course they launch from.</p>
    <p><b>This should not be considered a human-readable value</b>, it
    will often be a hash value.</p>
    <p>You should be picking up the pattern, now. Show me what you've got.</p>

{{render "iframe_panel" model}}