<h4>oauth_consumer_key</h4>

    <p>This should be another easy one, but it's important. <code>oauth_consumer_key</code>
    is an attribute that you are responsible to give to the learning platform
    along with a shared secret to make sure launches are coming from the correct
    source. Typically you'll give the key and secret to the end-user and they'll
    paste it into a config on the learning platform side. You'll need to store
    these within your system and find the shared secret for an account
    by looking up the account's consumer key. This value should be unique.</p>
    <p><b>It's important that you give each account its own consumer key</b>. Don't
    give in to the temptation to just create a single key and secret and share
    it with everyone. That will cause you big problems should those credentials
    ever get compromised.</p>
    <p>We'll talk about the shared secret parameter shortly.</p>

{{render "iframe_panel" model}}