$price-item-padding: rem-calc(13);
$price-item-align: left;

h1,h2,h3,h4,h5,h6,p {
  font-weight: 300;
}

section.header {
  h2 {
    font-size: 2.0rem;
    line-height: 3.6rem;
    border-bottom: 1px solid #E1E1E1;
  }
}

.side-steps {
  @include pricing-table-container;
  .step {
    @include pricing-table-bullet;
    cursor: $cursor-pointer-value;
    &.step-completed {
      color: $success-color;
    }
    &.step-incomplete {
      color: $primary-color;
    }
    &.active {
      border-left: 5px solid green;
    }
  }
}

.step-contents {
  h4 {
    font-weight: 400;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #efefef;
  }
  p {
    line-height: 1.4;
    margin-bottom: 0.9rem;
  }
  code {
    background-color: #f3f3f3;
    font-weight: 300;
  }
  .alert-box {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  iframe#lti-launch {
    width: 100%;
    height: 300px;
    background-color: #fff;
    border: 1px solid #D8D8D8;
  }
}

#chuck-norris {
  width: 100%;
  height: 300px;
  overflow: hidden;
  background-image:  image-url("learn_lti_engine/chuck-norris.jpg");
  background-size:   cover;
  background-repeat: no-repeat;
  div.columns {
    background-color: rgba(0,0,0,0.6);
    height: 300px;
    overflow: hidden;
    h4, div.alert-box {
      color: #fff;
    }
    h4 {
      margin-top: 25px;
      font-size: 2.0rem;
    }
    div.alert-box {
      padding: 10px 40px;
      text-align: center;
    }
    .alert-box.info {
      background-color: rgba(0,0,0,0.7);
      border: 0px;
    }
    .alert-box.success {
      background-color: rgba(255,255,255,0.5);
      border: 0px;
      color: #000;
    }
  }
}