@import "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css";

p {
  font-weight: 300;
}

footer#footer {
  margin-top: 40px;
  padding: 20px 0;
  border-top: 1px solid #efefef;
  font-weight: 300;
  font-size: 0.8rem;
}