<div class="container">
  <h4 class="page-header">Embed Code Generated</h4>
  <p>
    You're not in a system that supports auto-inserting content,
    so you'll need to copy and past the following code by hand
    in order to insert it into your content.
  </p>

  <textarea class="form-control" rows="4"><iframe title="<%= @title %>" width="<%= @width %>" height="<%= @height %>" src="<%= @url %>" /></textarea>
</div>
