<div class="row">
  <div class="large-12 columns">
    <br/>
    <div class="alert-box">
      You must be a student to view this assignment.
    </div>

    <p>
      See <a href="http://guides.instructure.com/m/4152/l/61153-how-do-i-access-student-view" target="_blank">this article</a>
      to learn how to view this assignment as a student.
    </p>
  </div>
</div>