<h4>launch_presentation_return_url</h4>

<p>When the user is done doing their thing inside an app,
  typically one of two things happens. Either the apps leads them to some
  terminal page ("Thanks for playing! The end.") or the app can
  optionally redirect the user back to a return URL provided by the
  learning platform in the launch. This URL, <code>launch_presentation_return_url</code>
  comes across as a POST parameter.</p>
<p>Let's make sure you know how to redirect users to this URL
  by doing it three times in a row. Ready, go!</p>

{{render "iframe_panel" model}}