<h4>lti_errorlog</h4>

<p>Last one, <code>lti_errorlog</code>. This is used to log
  server error messages that the user shouldn't see. If you had a
  failed launch for some reason (other than a failed signature,
  in which case you should assume the redirect URL is dangerous)
  or had an unexpected error this would
  probably be the best message to send.</p>
<p>Send the message, <code>The floor's on fire... see... *&* the chair.</code>
  as a server error message.</p>

{{render "iframe_panel" model}}