<h4>lti_log</h4>

<p>As part of this return process you can optionally provide information
  for either the user to see or for the learning platform to log. To
  return a message to the user, append the query parameter <code>lti_msg</code>
  to the <code>launch_presentation_return_url</code> and the learning
  platform should display it for the user.</p>
<p>To make sure you can do this, I want you to redirect to the return
  URL with the message, <code>Most things in here don't react well to bullets.</code>

{{render "iframe_panel" model}}