<h4>signature_check2</h4>

<p>Great! Now let's send over some additional parameters to
  make sure you're not hard-coding your signature generation. Any number
  of parameters can come across, including custom parameters, so you'll
  need to make sure you can handle them appropriately.</p>
<p>Three more launches should do the trick.</p>

{{render "iframe_panel" model}}