<h4>signature_check</h4>

    <p>If you're using a library this should all be pretty
    straightforward. If not, then you just got to the really
    fun part.</p>
    <p><code>oauth_signature</code> is an
    <a href='http://oauth.googlecode.com/svn/code/javascript/example/signature.html'>
    oauth 1.0 request signature</a> generated based on the POST parameters
    sent, including the nonce and timestamp just discussed. That link will
    guide you to a signature generator and the OAuth documentation for
    how to generate these signatures.</p>
    <p>To test this you'll need to launch 5 times. Some launches will
    have a valid signature, others won't.</p>

{{render "iframe_panel" model}}